.Title{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;  
    font-weight: 300;
    font-size: 27px;
    margin-left: 18px;
}

.ContainerBox{
    display: flex;
    justify-content: center;
    Width: 325px;
    Height:213px;
    background-color: #C91D2E;
    border-radius: 12px;
    margin: 30px 30px;
    transition: 0.3s ease;
    cursor: pointer;
   
}
.ContainerBox:hover{
        transform: scale(1.05);
      
}
   
.ContainerBox:active{
    transform: scale(0.95);
  
   }
      

.Descriptions{
    display: flex;
    flex-direction: column;
    margin-left: 26px;
    color: #FFFFFF;
    font-size: 17px;
    gap: 4px; 
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;

}

.TitleContainer{
   color:#FFFFFF ; 
   margin-bottom: 5px;
}
   .TitleContainer h1{
    font-family: 'Roboto', sans-serif;  
     font-weight: bold;
     font-size: 22px;

 }

.MotinContainer{
display: flex;
justify-content: center;    
}

.HawksLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;

}

.nada{
    margin-left: 130px;
}

#Bar{
    height: 140px;
    border-right: 1px solid #FFFFFF;
    border-radius: 8px;
    margin-right: 6px;
}

.CenterItens{
    display: flex;
    align-items: center;
    gap: 4px;
    margin: 10px 0px;
    

}

.MotionsPlayers img{
position: relative;
right: 22px;
top: 6px;
}

.MotionsPlayers label{
    color: #FFFFFF;
    font-family: italic, 'Roboto Condensed', sans-serif;
    margin-top: 90px;
}
.Button button{
    width: 250px;
    height: 46px;
    background-color: #313132;
    border-radius: 8px;
    font-size: 22px;
    font-family: italic, 'Roboto Condensed', sans-serif;
    color:  #FFFFFF;
    cursor: pointer;
    transition: 0.5s;
}
.Button button:hover{  
    background-color: rgba(7, 7, 7, 0.973)
}



.Teste{
    bottom: 40px;

    position: sticky;
}